@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50;
  }
}

@layer utilities {
  .no-print {
    @media print {
      display: none !important;
    }
  }

  .print-only {
    display: none;
    @media print {
      display: block !important;
    }
  }
}
